.cover__subtitle {
  max-width: 360px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--primary-text-color);
  position: relative;
  z-index: 5;
  margin: 32px auto 0 auto;

}

@media (max-width: 767px) {
  .cover__subtitle {
    margin: calc(16px + ((-320px + 100vw) * 0.035)) auto 0 auto;
    max-width: 288px;
    font-size: calc(14px + ((-320px + 100vw) * 0.0089));
    line-height: calc(16px + ((-320px + 100vw) * 0.017));
  }
}
