.place__paragraph {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: var(--primary-text-color);
  margin: 24px 0 0 0;
}

@media (max-width: 1023px) {
  .place__paragraph {
    font-size: calc(16px + ((-768px + 100vw) * 0.0071));
  }
}


@media (max-width: 767px) {
  .place__paragraph {
    padding: 0 16px 0 16px;
    font-size: 16px;
  }
}
