:root {
  --primary-text-color: #ffffff;
  --primary-background-page:#2A2C2F;
  --primary-text-url-color:#AAAAAA;
  --primary-background-for-opacity: rgba(42, 44, 47, 0.3);
  --primary-background-for-opacity-hover: rgba(42, 44, 47, 0.8);
  --primary-font: 'Inter', arial, helvetica, sans-serif;
}
