.cover__title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: var(--primary-text-color);
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 1;
  max-width: 560px;
}

@media (max-width: 767px) {
  .cover__title {
    font-size: calc(32px + ((-320px + 100vw) * 0.0715));
    line-height: calc(35px + ((-320px + 100vw) * 0.0715));
  }
}
