.intro__title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: var(--primary-text-color);
  margin: 0;
}

@media (max-width: 767px)
{
  .intro__title {
    font-size: calc(32px + ((-320px + 100vw) * 0.049));
    line-height: calc(35px + ((-320px + 100vw) * 0.051));
    padding-right: 13vw;
  }
}
